{% extends "base.html" %}
{% block title %}Flash Card{% endblock %}

{% block content %}
<h3 align="center">Add Flashcard</h3>
<form method="POST">
    <div class="form-group">
        <label for="question">Question</label>
        <textarea class="form-control" rows="5" id="question" name="question" placeholder="Enter question"></textarea>
    </div>
    <div class="form-group">
        <label for="answer">Answer</label>
        <textarea class="form-control" rows="5" id="answer" name="answer" placeholder="Enter answer"></textarea>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <textarea class="form-control" rows="1" id="category" name="category" placeholder="Enter category (optional)"></textarea>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Add Flashcard</button>
</form>
{% endblock %}